<div class="footer">
  <div class="footer__nav content">
    <div class="footer__content">
      <img src="/assets/images/logo.png" alt="" class="footer__logo" />
    </div>
    <div class="footer__content">
      <div class="footer__navigation">
        <div class="footer__social">
          <h4 class="footer__title">Follow us</h4>
          <ul class="footer__list">
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img src="/assets/images/twitter-icon.png" alt="" class="footer__ico"/>
              </a>
            </li>
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img src="/assets/images/facebook-icon.png" alt="" class="footer__ico"/>
              </a>
            </li>
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img
                  src="/assets/images/youtube-icon.png"
                  alt="" class="footer__ico"/>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="footer__title">Where To Find Us?</h4>
        <ul class="footer__list">
          <li class="footer__links">
            <a href="#" class="footer__link"> Manizales </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Medellin </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Bogotá </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Cali </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Other Sites </a>
          </li>
        </ul>
      </div>
      <div class="footer__navigation">
        <h4 class="footer__title">Legal information</h4>
        <ul class="footer__list">
          <li class="footer__links">
            <a href="#" class="footer__link"> Privacy policy </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Cookie policies </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> data treatment </a>
          </li>
        </ul>
      </div>
      <div class="footer__navigation">
        <h4 class="footer__title">Book your Trip</h4>
        <ul class="footer__list">
          <li class="footer__links">
            <a href="#" class="footer__link"> Search Trips </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Price calendar </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Destination map </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Bus times </a>
          </li>
        </ul>
        <div class="footer__social">
          <h4 class="footer__title">Follow us</h4>
          <ul class="footer__list">
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img src="/assets/images/twitter-icon.png" alt="" class="footer__ico"/>
              </a>
            </li>
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img src="/assets/images/facebook-icon.png" alt="" class="footer__ico"/>
              </a>
            </li>
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img
                  src="/assets/images/youtube-icon.png"
                  alt="" class="footer__ico"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__nav content">
    <ul class="footer__list">
      <li class="footer__links">
        <a href="#" class="footer__link">
          Website terms of use
        </a>
      </li>
      <li class="footer__separate">|</li>
      <li class="footer__links">
        <a href="#" class="footer__link">
          Site map
        </a>
      </li>
      <li class="footer__separate">|</li>
      <li class="footer__links">
        <a href="#" class="footer__link">
          environment
        </a>
      </li>
      <li class="footer__separate">|</li>
      <li class="footer__links">
        <a href="mailto:contact@Transitbus.com" class="footer__link">
          contact@transit.com
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="footer__separate">
  <h4 class="footer__title">Contact Us</h4>
  <ul class="footer__list">
    <li class="footer__links">
      <a href="#" class="footer__link"> Colombia: 0180032678 </a>
    </li>
    <li class="footer__links">
      <a href="#" class="footer__link">Spain: 100230888</a>
    </li>
    <li class="footer__links">
      <a href="#" class="footer__link"> United States: 555-0101-220 </a>
    </li>
    <li class="footer__links">
      <a href="#" class="footer__link"> Other countries: 20089-888-111 </a>
    </li>
  </ul>
