<div class="offer" [ngClass]="bg_image">
	<!-- Un contenedor con la clase CSS "offer". -->
	<!-- El atributo [ngClass] se utiliza para aplicar clases dinámicamente basadas en la variable "bg_image". -->
  
	<div class="offer__circle">
	  <!-- Un contenedor con la clase CSS "offer__circle". -->
  
	  <h3 class="offer__title">{{ title }}</h3>
	  <!-- Un encabezado de nivel 3 con la clase CSS "offer__title" que muestra el contenido de la variable "title". -->
  
	  <p class="offer__price">
		<!-- Un párrafo con la clase CSS "offer__price". -->
  
		From
		<span>{{ price }}</span>.00
		<!-- Muestra el texto "From" seguido del contenido de la variable "price" dentro de un elemento "span". -->
	  </p>
	</div>
</div>
  